body {
  height: 100vh;
  background-color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  color:dimgrey;
  font: "gilroy";
}









